.buttons {
    display: grid;
    gap: 10px;
}

.buttons.scientific {
    grid-template-columns: repeat(5, 1fr);
}

.buttons.general {
    grid-template-columns: repeat(4, 1fr);
}


.buttonS {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 0;
    cursor: pointer;
    transition: all .3s ease;
}

.buttonSWhite {
    background: #ffffff;
    color: #000000;
}
.buttonSWhite:hover {
    background: #000000;
    color: #ffffff;
}